.show-notifications {
    position: fixed;
    top: 100%;  /* Initially off-screen */
    right: 20px;
    animation-name: show-toast;
    animation-duration: 5s;
    animation-fill-mode: forwards; /* Ensures it stays hidden after animation */
}

@keyframes show-toast {
    0% {
        top: 100%;  /* Start from off-screen */
    }
    20% {
        top: calc(100% - 120px); /* Adjust as needed for how far you want the toast to appear on-screen */
    }
    80% {
        top: calc(100% - 120px); /* Keep it on-screen for a while */
    }
    100% {
        top: 100%; /* Move it back off-screen */
    }
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
  }
  table.table-fit thead th,
  table.table-fit tbody td,
  table.table-fit tfoot th,
  table.table-fit tfoot td {
    width: auto !important;
  }
