{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-section">
    

    <div class="page-section pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa-solid fa-bag-shopping"></i>Review your Billing Address</a></li>
                            
                        </ul>
                        
                        
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                    <div class="billing-address">
                                        <div><b>{{order.name}}</b></div>
                                        <div><b>{{order.address}}</b></div>
                                        <div><b>{{order.city}},{{order.state}}-{{order.pincode}}</b></div>
                                        <div><b>Phone:{{order.phone}}</b></div>
                                        <div><b>Email:{{order.email}}</b></div>
                                        <div><b>Payment Method:{{order.payment_method}}</b></div>
                                        <div><b>Order Number:{{order.order_number}}</b></div>
                                        <br>
                                        <div><a href="{% url 'checkout' %}" class="btn btn-outline-danger">Edit</a> </div>
                                        <br>
                                    </div>
                                        
                                    
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa-solid fa-list"></i>Your Order</a></li>
                            
                        </ul>
                        
                        
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                              <div class="menu-item-holder">
                                <div style="padding: 10px; margin: 10px;">
                                    <div>
                                        <table class="table no-border">
                                            <tbody>
                                                {% for item in cart_item %}
                                                <tr>
                                                    <td><img src="{{item.product.image.url}}" alt="{{item.product.product_title}}" width="20" height="20"></td>
                                                    <td class="nowrap" style=" text-overflow: ellipsis; overflow: hidden; " >{{item.product.product_title}}</td>
                                                    <td class="nowrap" ><b>{{item.qty}}</b></td>
                                                    <td class="nowrap"><b>{{item.product.price}}</b></td>
                                                   
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul>
                                        <li style="list-style-type: none;">Subtotal
                                            <span class="price float-right">
                                                <span class="currency"><i class="fa fa-inr"></i></span>
                                                <span id="subtotal">{{subTotal}}</span>
                                            </span>
                                        </li>
                                        <hr>
                                        {% for key , value in tax_dict.items %}
                                        {% for i , j in value.items %}
                                        <li style="list-style-type: none;">
                                            {{key}} <small>{{i}}</small>
                                            <span class="price float-right">
                                                <span class="currency"><i class="fa fa-inr"></i></span>
                                                <span id="tax-{{key}}">{{j}}</span>
                                            </span>
                                            <hr>
                                        </li>
                                        
                                        {% endfor %}
                                        {% endfor %}
                                        <li style="list-style-type: none; font-weight: 600;" class="text-danger">Total
                                            <span class="price float-right">
                                                <span class="cuurency"><i class="fa fa-inr"></i></span>
                                                <span id="total" class="text-danger">{{grandTotal}}</span>
                                            </span>
                                        </li>
                                        <hr>
                                        <span class="price text-center mb-3">
                                            <a href="{% url 'payment' order.order_number %}" class="btn btn-danger w-100 p-2">Pay Now</a>
                                        </span>
                                    </ul>
                                    
                                      
                                    
                                </div>
                                
                              </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
{% endblock %}